@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bayon&family=Big+Shoulders+Display:wght@100..900&family=Chango&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=League+Spartan:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f8f8fb;
	display: flex;
	flex-direction: column;
	gap: 50px;
	font-family: "League Spartan", serif;
}

header {
	display: flex;
	background-color: #373b53;
}

nav {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.dark {
	width: 20%;
}

.right-nav {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	height: 100%;
}

.border-profil {
	border-left: 2px solid #494e6e;
	padding: 20px;
}

.coutnaire {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 50px;
	align-items: center;
}

.left-coutnaire h2 {
	color: #0c0e16;
	font-size: 30px;
}

.left-coutnaire p {
	size: 13px;
	font-weight: 700;
	color: #888eb0;
}

label {
	display: flex;
	flex-direction: row;
	align-items: center;
}

label p {
	color: #0c0e16;
	font-weight: 900;
	font-size: 18px;
}

tbody {
	transition: scale 300ms ease-in-out;
}

tbody:hover {
	scale: 1.1;
	transition: scale 300ms ease-in-out;
}

label select {
	border: none;
	color: #7c5dfa;
	background-color: #f8f8fb;
}

.right-count {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.add {
	display: flex;
	flex-direction: row;
}

.add button {
	background-color: #7c5dfa;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px; 	
	display: flex;

	align-items: center;
	gap: 10px;
	border-radius: 24px;
}

.add button p {
	font-size: 18px;
	font-weight: 700;
}

.bg-blanc {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 50%;
}

/* .main-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	gap: 30px;
	width: 100%;
}

.main-center p {
	width: 50%;
	font-weight: 700;
	font-size: 15px;
	color: #888eb0;
	text-align: center;
} */

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.first {
	margin: 15px;
	background-color: white;
	width: 90%;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	padding: 15px;
	box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1004);
}

th,
td {
	padding: 15px 20px;
	text-align: center;
}

.td-green {
	text-align: center;
	background-color: #f3fcf9;
	font-weight: 700;
	color: #33d69f;
}

.Oval-green {
	margin-right: 10px;
}

.td-price {
	text-align: center;
	padding: 0 0 0 20px;
}

.tab-responsive {
	display: none;
}

@media screen and (min-width: 768px) {
	.coutnaire {
		display: flex;
		justify-content: space-between;
		padding: 20px;
		width: 100%;
	}

	.left-coutnaire p {
		font-size: 13px;
		font-weight: 500;
	}

	.add button {
		padding: 10px 30px;
	}

	.add button p {
		font-size: 15px;
		font-weight: 700;
	}

	/* .main-center p {
		width: 25%;
		text-align: center;
		font-weight: 500;
	} */

	.responsive {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.first {
		display: none;
	}

	.tab-responsive {
		display: flex;
		background-color: white;
		padding: 10px;
	}

	.res-tab {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

@media screen and (min-width: 1440px) {
	body {
		display: flex;
		flex-direction: row;
		height: 100vh;
	}

	header {
		display: flex;
		flex-direction: column;
		height: 100%;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}

	nav {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.right-nav {
		display: flex;
		flex-direction: column;
		margin-top: 650px;
	}

	.dark {
		width: 25%;
	}

	.border-profil {
		border-left: none;
		border-top: 2px solid #494e6e;
		width: 100%;
	}

	.border-profil img {
		width: 100%;
		height: 100%;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 100px;
		width: 80%;
	}
	main {
		display: flex;
		margin-bottom: 30px;
		align-items: center;
	}

	.res-tab {
		width: 100%;
	}

	.tab-responsive {
		width: 100%;
	}

	.responsive {
		font-size: 20px;
		padding: 10px;
	}
	/* .main-center img {
		width: 40%;
	} */
}
